fine-tuning/axolotl
fine-tuning/last_run_prepared
fine-tuning/outputs
fine-tuning/fine-tuned-models
data/medical-fine-tune
data/original-medical-data
mech-interp/single-layer-anaylsis/activations
mech-interp/single-layer-anaylsis/sparse_codes
mech-interp/single-layer-anaylsis/layer-logs
mech-interp/multi-layer-anaylsis/activations
mech-interp/multi-layer-anaylsis/sparse_codes

